{% extends 'base.html' %}
{% block title %} search cdac center for your rank {% endblock %}
{% block content %}


<section id="about" class="py-4" >
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h2>Congrats Guys Hope you got your ccat rank .</h2>
              <p class="lead">After rank every one start to find which course which center I will get as per my rank.
                  No Worries guys ccatcracker here just enter your rank and course you will get all list of colleges which
                  is highest probability to get .
	       </p>
		 <h4>Guys Below you can enter Course Name And Your rank greater than value you will get Maximum probability college list : <br></h4>
                <h4>For Ex . your rank is 1200 then you can select Your Rank > 1000 <br>
                   so you will get college list with highest Probability for Selected Course . </h4>
		 <h4>And Rank Range On Website is in 500 range . Ex . 500,1000,1500 etc. <br></h4>
                   <h4>So If your rank is 1200 and you serach it then you will all college with rank 1100 to max . so Please consider 200-400 rank low or high difference .If You have still confusion you can directly contact Us .</h4>
                
                <h4>One More Important Thing guys This rank always varry each year so please consider 200 -500 difference in given list.</h4>

            </div>
            </div>
          </div>
        </div>
      </section>
      <section id="showcase" style="background-image: url(../static/img/cdac.jpg);background-repeat: no-repeat;background-attachment: fixed;">
            <div class="container text-center">
              <div class="home-search p-5">
                <div class="overlay p-5">
                  <h1 class="display-4 mb-4">
                    Search Centers Rank Wise
                  </h1>
                
                  <p class="lead">Please enter course name and your Rank to get list of cdac center</p>
                  <div class="search">
                    <form action="{% url 'rank' %}">
                      <!-- Form Row 1 -->
                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class="sr-only">Course</label>
                            <select name="course" class="form-control">
                              <option selected="true" disabled="disabled">Courses (All)</option>
                              <option value="DAC">DAC</option>
                              <option value="Big Data">Big Data</option>
                              <option value="IOT">IOT</option>
                              <option value="VLSI">VLSI</option>
                              <option value="HPCSA">HPCSA</option>
                            </select>
                        </div>
        
        
                        <div class="col-md-6 mb-3">
                          <label class="sr-only">City</label>
                          <select name="rank" class="form-control">
				  <option selected="true" disabled="disabled">Your Rank > </option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="1500">1500</option>
                            <option value="2000">2000</option>
                            <option value="2500">2500</option>
                            <option value="3000">3000</option>
                            <option value="3500">3500</option>
                            <option value="4000">4000</option>
                            <option value="5000">5000</option>
                          </select>
                        </div>
                      </div>
                   
                      </div>
                      <button class="btn btn-secondary btn-block mt-4" type="submit">Search Center</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>




{% endblock %}

