{% extends 'base.html' %}
{% block title %} C-DAC Mock Test | Online Practice Test for C-DAC  Placement {% endblock %}
{% block content %}

 <!-- Breadcrumb -->
 <section id="bc" class="mt-3">
    <div class="container">
     
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active">CCAT</li>
        </ol>
      </nav>
    </div>
  </section>
  <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h2>Online Test Series For Section A and Section B</h2>
              <p class="lead">Hope You guys have completed all the notes and videos which i had mentioned in Notes.</p>
              <span style="font-weight:bold;font-size:20px;">Instruction:</span><br />
              <div class="ins" style="margin-top: 5px; color:black;">Total Number of Questions: 50</div>
              <div class="ins" style="margin-top: 5px; color:black;">Time alloted: 60 minutes</div>
              <div class="ins" style="margin-top: 5px; color:black;">Each question carry 1 mark each,  negative marking for 3 wrong choices 1 mark deduct .</div>
              <div style="border:#efefef 1px solid;margin-top:20px;">
                  <div class="note11">NOTE:</div>
                  <div style="padding:5px">
                    <div style="font-size:13px;" id="note_id">Test Series Is available on Udemy.</div>
                    <div style="font-size:13px;" id="note_id">There are 4 section B Paper and 2 Section A</div>
                      <div style="font-size:13px;" id="note_id">Exam Pattern is very very Similar to main ccat exam .</div>
                      <div style="font-size:13px;" id="note_id">After Each BAtch all the quetions will replaced with New Improvement .</div>
                      <div style="font-size:13px;" id="note_id">Dec-2019 Quetions Will be Available very soon .</div>
		       <div style="font-size:13px;" id="note_id">Each time i will modify quetions as per Previous Exam Pattern Thats why Test Series Will Be Publish 2 month before ccat</div>
		        <div style="font-size:13px;" id="note_id">On Udemy you will get detailed explination of each quetions answer .</div>
			 <div style="font-size:13px;" id="note_id">So First Prepare Yourself from my notes Once quetions will complete I will Upload it.</div>
			  <div style="font-size:13px;" id="note_id">!!!! All The Best Guys !!!! .</div>




                      
                  </div>
              </div>
            </div>
          
             </div>
            
             
          </div>
          
        </section>
        <section id="bc" class="mt-3">
          <div class="container">
          
      </div> 
          </div>
        </section>
        <br><br><br><br>
          <!-- Work -->
      <section id="work" class="bg-dark text-white text-center">
        
        <h4>If You want all the test series and unlimited access with explaination Lets checkout 
          My CDAC Udemy Test Series (Coming Soon Before CCAT- Dec-2019 )USE  PROMO : CCATCRACKER 
        </h4>
        
        <a href="{% url 'index' %}" class="btn btn-secondary text-white btn-lg">Udemy</a>
      </section>
                 

 




{% endblock %}
