
  <!-- Footer -->

  
  <footer id="main-footer" class="py-4 bg-primary text-white text-center">
    Copyright &copy;
    <span class="year"></span> ccatcracker.com
    <section id="footer">
        <div class="container">
          <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Quick links</h5>
	      <ul class="list-unstyled quick-links" >
		<li><a href="{% url 'index' %}" style="color: white">Home</a></li>    
                 <li><a href="{% url 'ccat' %}" style="color: white">CCAT</a></li>
                 <li><a href="{% url 'cdac' %}" style="color: white">CDAC</a></li>
		 <li><a href="{% url 'ccee' %}" style="color: white">ccee</a></li>
		   <li><a href="{% url 'test' %}" style="color: white">Test</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
       
          
  </footer>

  

  <!-- Footer -->

    <!-- ./Footer -->
